---
import {Toaster} from "@/components/ui/sonner";
import {Image} from "astro:assets";
import {ViewTransitions} from "astro:transitions";
import {Navigation} from "../components/Navigation";
import "../styles/global.css";

// Import obrazów
import bgImage from "../assets/images/backgrounds/bg-img.jpg";

interface Props {
  title?: string;
}

const {title = "10xCards"} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='sm:bg-gray-100'>
    <div class='min-h-screen w-full relative'>
      {/* Background image container */}
      <div class='fixed inset-0 -z-10 hidden sm:block' aria-hidden='true'>
        <div class='relative w-full h-full'>
          <div class='hidden sm:block w-full h-full'>
            <Image
              src={bgImage}
              alt='A background image of a blue lights abstraction'
              title='Zdjęcie dodane przez Marek Piwnicki: https://www.pexels.com/pl-pl/zdjecie/jasny-lekki-swiatla-niebieski-12489187/'
              class='w-full h-full object-cover'
              quality='max'
            />
          </div>
        </div>
      </div>

      {/* Main content container */}
      <div class='min-h-screen w-full sm:container sm:mx-auto sm:px-4 sm:py-6'>
        <div
          class='sm:bg-white/95 sm:backdrop-blur-sm sm:rounded-2xl sm:shadow-xl sm:min-h-[calc(100vh-3rem)] overflow-hidden'
        >
          <Navigation client:load />
          <main class='container mx-auto px-4 pb-6 pt-16'>
            <slot />
          </main>
        </div>
      </div>
    </div>
    <Toaster richColors closeButton client:only='react' />
  </body>
</html>
